.smart-form {}

.smart-form--titleSection {
  background: $theme-generic;
  padding: 10px 5px;
}

.smart-form--title {
  margin: 0;
}

.smart-form--fieldSection {
  padding: 5px;
}

.smart-form--field {
  margin: 10px 0;
}