////
/// @group Tables
/// @author James Stanger
////

/// Sets responsive styling on an HTML table.
/// @example markup - Basic use
///     <table class="smart-table">
///         <!-- TABLE -->
///     </table>
.smart-table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid $theme-black;
  border-collapse: separate;

  @media screen and (max-width: $break-lrg) {
    table-layout: fixed;
  }
}

.smart-table--head {
  background: darken($theme-generic, 10%);
}

.smart-table--heading {
  border: 1px solid $theme-black;
  text-align: center;

  @media screen and (max-width: $break-med) {
    @include hide();
  }
}

.smart-table--inlineHeading {
  display: none;
  font-weight: bolder;
  font-size: 1.1em;
}

.smart-table--sortableHeading {}

/// Set each record to fill container and be center aligned.
.smart-table--row {
  text-align: center;

  &:nth-child(even) {
    background: $theme-main--light;
  }

  &:not(.smart-table--head):nth-child(odd) {
    background: white;
  }

  @media screen and (max-width: $break-med) {
    &:not(.smart-table--head) {
      display: flex;
      align-items: center;
      padding: 10px 0;

      /* justify content for IE layout */
      justify-content: space-between;
    }

    &.record-is-expanded {
      align-items: stretch;
    }
  }
}

.smart-table--cell {
  border: 1px solid $theme-black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;

  @media screen and (max-width: $break-med) {
    border: none;

    &:not(.smart-table--key) {
      @include hide();
    }
  }
}

.smart-table--centeredCell {
  text-align: center;
}

/// Class indicating that a part of the record is key information
/// and should be displayed even when the record is expanded.
/// @example markup - HTML Use
///     <td class="smart-table--key">
///         {{recordId}}
///     </td>
.smart-table--key {
  min-width: 50px;
  flex: 1;
}

.smart-table--link {
  color: $theme-black;

  &:hover {
    text-decoration: underline;
  }
}

.smart-table--expand {
  @include hide();
  position: relative;
  right: 0;
  top: 0;

  @media screen and (max-width: $break-med) {
    display: block;
  }
}

/// Expand record into vertical view. Set expand button to indicate record is expanded.
/// @example javascript - Apply onclick (jQuery)
///     $('<button class="bit-btn--expand"></button>')
///         .click(function() {
///             $(this).parent().toggleClass("record-is-expanded");
///     });
.record-is-expanded {
  @media screen and (max-width: $break-med) {
    flex-direction: column;
    position: relative;

    .smart-table--cell {
      text-align: left;
      border-bottom: 1px solid $theme-black;
      margin: 5px 0;
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
      display: block;
      flex: none;

      //for IE. Has no effect on Chrome or Firefox
      float: right;

      &:first-child {
        /* Make room for collapse button */
        padding: 30px 0 10px 0;
      }
    }

    td:nth-last-of-type(2) {
      /* Hide last border */
      border-bottom: none;
    }

    .smart-table--expand {
      position: absolute;
      top: 10px;
    }

    .bit-btn-expand {
      &:after {
        /* Toggle the expand button to a collapse button */
        content: "-";
      }
    }

    .smart-table--inlineHeading {
      @media screen and (max-width: $break-med) {
        display: inline;
      }
    }
  }
}