@mixin apply-gradient($direction) {
  background: linear-gradient($direction, lighten($theme-main--dark, 25%), saturate($theme-main--light, 30%));
}

/// Styles a navigation list to be responsive and dynamic with inline-list
/// capability. Also has option of "tabbed" look.
/// @example markup - Basic use
///     <nav class="smart-nav">
///         <ul class="nav-list">
///             <li>{{text}}</li>
///         </ul>
///     </nav>
///
/// @example markup - Tabbed list
///     <nav class="smart-nav">
///         <ul class="nav-list--tabbed">
///             <li>{{listText}}</li>
///         </ul>
///     </nav>
.block-navList {}

.block-navList--list {
  display: flex;
  flex-direction: row;

  @include apply-gradient(to right);
  margin: 0;
  padding-left: 0;
  z-index: $level-9;

  @media screen and (max-width: $break-med) {
    /* mobile list style */
    /* hide by default */
    display: block;

    /* Translate nav list the width of the nav minus an extra 50px to be just off of the left side of the screen */
    $listWidth: 100%;
    width: $listWidth;
    transform: translateX(-$listWidth - 50);
    transition: transform 600ms ease-in-out;

    @include apply-gradient(to bottom);
    position: absolute;
    left: 0;

    /* show when nav-show class is applied and only on medium screen */
    &.nav-show {
      display: flex;
      flex-direction: column;
      transform: none;
    }
  }
}

.block-navList--item {
  list-style: none;
  box-shadow: 0 0 1px inset;
  padding: 3px 0;
  text-align: center;
  position: relative;
  flex: 1 auto;

  &:hover {
    /* apply transitions and border only when not mobile. */
    transition: border-top-width 100ms;
    border-top: 2px groove $theme-secondary--deep;
    margin-top: -2px;

    .bit-dropList {
      /* show any sublists on hover */
      display: block;
    }
  }

  @media screen and (max-width: $break-med) {
    /* resize list items on mobile */
    padding: 5px;
    position: relative;

    &:hover {
      border: none;
      margin: 0;
    }
  }
}

.block-navList--item > .bit-link {
  color: $theme-white;
}

/// Places drop-down symbol on the parent of a sublist.
.block-navList--sublistHeading {
  &:after {
    content: "▾";
    margin-left: 4px;
  }
}

/// Styles the mobile expand button to expand the navigation
/// when the screen is too small to fit.
/// @example javascript - Applied by JavaScript (jQuery)
///   var navList = $("[class^='nav-list']");
///   $('<span class="nav-expand">|||</span>').click(function() {
///     navList.toggleClass("nav-show");
///   }).insertBefore(navList);
.block-navList--expand {
  /* hide by default */
  display: none;

  /* style expand button when screen is small */
  @media screen and (max-width: $break-med) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid $theme-secondary--light;
    border-radius: 10px;
    width: 60px;
    height: 60px;
  }
}

.block-navList--expandLine {
  width: 60%;
  margin: 4px;
  border: 2px solid $theme-black;
}