////
/// @group Modal
/// @author James Stanger
////

/// Styles a responsive, accessible modal
.smart-modal {
  /* Hide by default */
  display: none;

  position: fixed;
  z-index: $level-100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;


  /* fallback color */
  background-color: $theme-black;
  background-color: rgba($theme-black, 0.5);
}

/// Sets styles for main content portion of a smart-modal
.smart-modal--content {
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-height: 100%;

  @media screen and (max-width: 820px) {
    width: 80%;
  }
}

/// Sets head section of a smart-modal
.smart-modal--head {
  background: $theme-generic;
  padding: 5px;
  text-align: right;
}

/// Styles Modal Close button
.smart-modal--close:not(.bit-btn) {
  height: 30px;
  width: 45px;
  padding: 0;
  background: none;
  border: none;
  box-shadow: $theme-black 0 0 2px;
  border-radius: 5px;
}

/// Sets styles for smart-modal title
.smart-modal--title {
  font-size: 35px;
  margin: 5px 0;
  text-align: center;

  @media screen and (max-width: 820px) {
    font-size: 25px;
  }
}

.smart-modal--warningTitle {
  text-align: center;
  color: red;
}

/// Sets body section of a smart-modal
.smart-modal--body {
  max-height: 75vh;
  overflow: auto;
  position: static;
}

/// Sets styles for smart-modal footer section

.smart-modal--footer {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $theme-generic;
}

.smart-modal--footerItem {
  margin: 0 5px;
}