//Legacy grid for older browsers (ie 11)
.layout-main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.layout-main--nav {
  min-height: 100px;
  flex: none;
}

.layout-main--search {
  flex: none;
}

.layout-main--content {
  flex: 1 auto;
}

.layout-main--footer {
  flex: none;
}

@supports (display: grid) {
  .layout-grid {
    display: grid;
    height: 100vh;
  }

  /*
      1                    2
    1 +--------------------+
      |        auto        |
    2 +--------------------+
      |        auto        |
    3 +--------------------+
      |                    |
      |        fill        |
      |                    |
    4 +--------------------+
      |        50px        |
    5 +--------------------+
   */
  .layout-main {
    grid-template: "nav    " auto
                   "search " auto
                   "content" 1fr
                   "footer " 50px
                   / 1fr;
  }

  .layout-main--nav {
    grid-area: nav;
    min-height: auto;
  }

  .layout-main--search {
    grid-area: search;
  }

  .layout-main--content {
    grid-area: content;
  }

  .layout-main--footer {
    grid-area: footer;
  }
}