@mixin drop-arrow($position, $size, $top: 17px) {
  content: '';
  position: absolute;
  width: 20px;
  height: 23px;
  right: 10px;
  top: $top;
  background: url(/images/svg/sprites.svg#sort-usage) 0 $position unquote("/") $size no-repeat;
}

.smart-accordion {
  width: 100%;
}

.smart-accordion--toggle {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  min-height: 50px;
  width: 100%;
  background: $theme-generic;
  border: none;
  text-align: left;

  &:hover {
    background: lighten($theme-generic, 5%);

    &:after {
      /* Only apply drop-arrow on hover */
      @include drop-arrow(-11px, 15px);
    }
  }

  &.is-expanded {
    /* Styles for expanded smart-accordion */
    background: saturate($theme-main, 10%);

    &:hover {
      &:after {
        /* Only apply drop-arrow on hover */
        @include drop-arrow(10px, 15px, 10px);
      }
    }
  }
}

.smart-accordion--content {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  transition: height 500ms ease-in-out;
  background: lighten($theme-generic, 10%);
  box-shadow: 0 0 2px 0 inset;

  > * {
    /* Immediate children of smart-accordion--content should not have a margin so content can be resized properly. */
    margin: 0;
  }
}