/// Container that holds action items in a table cell.
/// @example markup - Basic use
///     <td>
///       <div class="action-container">
///         <button class="bit-btn--details">
///         <button class="bit-btn--edit">
///         <button class="bit-btn--delete">
///       </div>
///     </td>
.block-actionContainer {
  height: 35px;
  @include format-responsive(row, center, nowrap) {
    grid-auto-flow: column;
  }

  & > [class*=bit-btn] {
    margin: 0;
    min-width: 30px;
  }
}