////
/// @group Button
/// @author James Stanger
////

/// Styles a button to have a click animation.
/// @example scss - Basic use
///     .btn {
///         @extend %clickable;
///     }
@mixin clickable {
  box-shadow: 2px 1px 1px $theme-black;

  &:active {
    box-shadow: 1px 1px 0;
    transform: translate(2px, 2px);
  }
}

@mixin clickable-shadowless {
  &:active {
    transform: translate(2px, 2px);
  }
}

@mixin bit-btn-noBackground {
  background: none;
}

/// Sets base styles for a button.
.bit-btn {
  border-radius: 5px;
  padding: 0 3px;
  min-height: 35px;
  min-width: 60px;
  background: $theme-main--deep;
  border: none;
  color: $theme-white;
  box-sizing: content-box;
  text-align: center;
  text-decoration: none;
}

/* Center links by setting line height to equal button height */
a.bit-btn {
  line-height: 35px;
}

.bit-btn-clickable {
  @include clickable;
}

.bit-btn-search {
  @include clickable;

  &:before {
    @include icon;
    @include icon-url('search')
  }
}

.bit-btn-add {
  @include clickable;
  &:before {
    @include icon("+");
    font-weight: bolder;
  }
}

.bit-btn-reset {
  @include clickable;
  &:before {
    @include icon;
    @include icon-url('reset');
  }
}

.bit-btn-details {
  @include bit-btn-noBackground;
  @include clickable-shadowless;

  &:after {
    @include icon;
    @include icon-url('details', 17px, 35px);

    margin-right: 0;
  }
}

.bit-btn-expand {
  @include bit-btn-noBackground;
  @include clickable-shadowless;
  line-height: 1.6;

  &:after {
    @include icon("+");
    font-size: 15px;
    font-weight: 900;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    border-radius: 1em;
    background: $theme-secondary--deep;
  }
}

.bit-btn-delete {
  @include bit-btn-noBackground;
  @include clickable-shadowless;

  &:after {
    @include icon("+");
    transform: scale(2) rotateZ(45deg);
    color: red;
    margin: 0;
  }
}

.bit-btn-edit {
  @include bit-btn-noBackground;
  @include clickable-shadowless;

  &:after {
    @include icon;
    @include icon-url('edit', 17px, 35px);
  }
}

.bit-btn-exit {
  @include clickable;

  &:before {
    @include icon("+");
    transform: scale(2) rotateZ(45deg);
    //font-size: 1.5em;
  }
}

.bit-btn-plainSearch {
  padding: 0;
  background: $theme-main--deep;
  border: none;
  height: 60px;
  width: 60px;

  &:before {
    @include icon;
    @include icon-url('search', 25px, 25px);
  }
}

.bit-btn-plainExit {
  padding: 0;
  height: 60px;
  width: 60px;
  background: $theme-main--deep;
  border: none;

  &:before {
    @include icon("+");
    color: $theme-white;
    transform: scale(2) rotateZ(45deg);
  }
}