/// Defines a flexible, responsive form. Allows for a "fancy"
/// option that includes a drop-shadow.
/// @example markup - Basic use
///     <form class="smart-form">
///       <!-- FORM SECTION, FIELDS, ETC. -->
///     </form>
///
/// @example markup - Fancy Form
///     <form class="smart-form--fancy">
///       <!-- FORM SECTIONS, FIELDS, ETC. -->
///     </form>
.smart-search {
  background: $theme-generic;

  /* Ensure smart-search cannot cover other elements */
  position: relative;
  z-index: $level-1;
}

.smart-search--heading {
  transition: min-height 500ms;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: $break-lrg) {
    position: relative;
    align-content: start;
  }
}

.smart-search--title {
  margin: 0 10px;
}

.smart-search--headingSegment {
  display: flex;
  align-items: center;
}

.smart-search--toggleContainer {
  overflow: hidden;

  @media screen and (max-width: $break-lrg) {
    position: absolute;
    left: 0;
    top: 60px;
    padding: 10px;
  }
}

.smart-search--fieldContainer {
  display: flex;
  align-items: center;
  transition: transform 700ms ease-in-out;
  right: 75px;
  top: 0;
  padding-right: 10px;

  @media screen and (max-width: $break-lrg) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.smart-search--field {
  padding: 0 10px;

  @media screen and (max-width: $break-lrg) {
    padding: 10px 0;
  }
}

.is-hidden {
  transform: translateX(1000px);
}