/// Defines a flexible, responsive form. Allows for a "fancy"
/// option that includes a drop-shadow.
/// @example markup - Basic use
///     <form class="smart-form">
///       <!-- FORM SECTION, FIELDS, ETC. -->
///     </form>
///
/// @example markup - Fancy Form
///     <form class="smart-form--fancy">
///       <!-- FORM SECTIONS, FIELDS, ETC. -->
///     </form>
.smart-search {
  background: $theme-generic;
}

.smart-search--heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
}

.smart-search--title {
  margin-right: 10px;

  @media screen and (max-width: $break-med) {
    /* Force other items to next row */
    width: 100%;
  }
}

.smart-search--action {
  /* Align action button to the right */
  margin: 10px 10px 10px auto;
}

.smart-search--fieldContainer {
  overflow: hidden;
  position: relative;
  transition: min-height 600ms;
}

.smart-search--field {
  width: 100%;
  padding: 5px;
}

.smart-search--toggleContainer {
  position: absolute;
  padding: 10px;
  transition: transform 800ms ease-in-out;
  box-sizing: border-box;
  width: 100%;
}

.is-hidden {
  min-height: 0;

  & > .smart-search--toggleContainer {
    transform: translateY(-800px);
  }
}