/// Defines a flexible, responsive form. Allows for a "fancy"
/// option that includes a drop-shadow.
/// @example markup - Basic use
///     <form class="smart-form">
///       <!-- FORM SECTION, FIELDS, ETC. -->
///     </form>
///
/// @example markup - Fancy Form
///     <form class="smart-form--fancy">
///       <!-- FORM SECTIONS, FIELDS, ETC. -->
///     </form>
.smart-search {
  background: $theme-generic;
}

.smart-search--heading {
  display: flex;
  align-items: center;
}

.smart-search--title {
  margin: 0 10px;

  @media screen and (max-width: $break-med) {
    max-width: 125px;
  }
}

.smart-search--action {
  /* Align action button to the right */
  margin-left: auto;
}

.smart-search--fieldContainer {
  overflow: hidden;
  position: relative;
  transition: min-height 600ms;
  min-height: 0;
}

.smart-search--field {
  padding: 10px 0;
  width: 100%
}

.smart-search--toggleContainer {
  position: absolute;
  padding: 10px;
  transition: transform 800ms ease-in-out;
  box-sizing: border-box;
  width: 100%;
}

.is-hidden {
  transform: translateY(-800px);
}