/// Sets an sublist to display beneath its parent. Will show only on hover.
.bit-dropList {
  /* display beneath parent. Hide by default. Set to outer z-index layer. */
  position: absolute;
  padding: 0;
  display: none;
  width: inherit;
  margin-top: 3px;
  z-index: $level-9;
  list-style: none;
  left: 0;
  right: 0;

  &--item {
    /* ensure children are not transparent */
    background: $theme-main;
    padding: 3px 0;
    box-shadow: $theme-black 0 0 1px inset;

    &:hover {
      transition: border-top-width 100ms;
      border-top: 2px groove $theme-secondary--light;
    }
  }
}