.smart-details {}

.smart-details-outlined {
  border: 1px solid $theme-black;
  border-radius: 5px;
}

.smart-details--header {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid $theme-black;
  background: $theme-generic;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $break-med) {
    flex-direction: column;
  }
}

.smart-details--heading {
  padding: 5px 10px;
  margin: 0;
}

.smart-details--listContainer {
  display: flex;

  @media screen and (max-width: $break-med) {
    flex-direction: column;
  }
}

.smart-details--list {
  margin: 0;
  @media screen and (max-width: $break-med) {
    width: 100% !important;
  }
}

.smart-details--detail {
  @include flex-container;
  padding: 5px;

  @media screen and (max-width: $break-xs) {
    font-size: 0.75em;
    overflow-wrap: break-word;
  }
}

.smart-details--detailKey,
.smart-details--detailValue {
  width: 50%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.smart-details--detailKey {
  text-align: right;
  font-weight: bolder;
}