.bit-input {
  display: flex;
  align-items: center;

  @media screen and (max-width: $break-xs) {
    flex-direction: column;
    align-items: flex-start;
  }

  &-stacked {
    @include flex-container;
    flex-direction: column;
    align-items: flex-start;
  }
}

.bit-input--label {
  margin: 10px 10px 10px 0;
  display: inline-block;
}

/// Styles different types of form inputs, namely input[type=text] and input[type=number].
.bit-input--field {
  padding: 5px;

  &:not([type = checkbox]) {
    /* Select inputs that are not checkboxes. */
    border: none;
    box-shadow: inset 1px 1px 4px $theme-black;
    border-radius: 3px;
    height: 35px;
    width: 100%;
  }

  &[type = number] {
    max-width: 50px;
  }
}