/// Styles a link with base link styles and defines hover transitions.
.bit-link {
  text-decoration: none;
  color: darken($theme-generic, 40%);
  transition: color 300ms ease-in-out;
  display: inline-block;
  width: 100%;

  &:hover {
    color: $theme-link;
  }
}