@mixin apply-gradient($direction) {
  background: linear-gradient($direction, lighten($theme-main--dark, 25%), saturate($theme-main--light, 30%));
}

/// Sets layout and basic styles for a navigation
.smart-nav {
  border-bottom: 1px solid $theme-secondary--deep;
  background-color: $theme-main;
  position: relative;

  @include apply-gradient(to left);

  @media screen and (max-width: $break-med) {
    @include apply-gradient(to top);
  }
}

.smart-nav--header {
  display: flex;
  flex-direction: column;
}

.smart-nav--headerMain {
  display: flex;
  align-items: center;

  @media screen and (max-width: $break-med) {
    justify-content: center;
  }
}

.smart-nav--title {
  margin: 5px;
}

.smart-nav--headerAside {
  text-align: right;
  background: rgba(230, 230, 230, 0.7);

  @media screen and (max-width: $break-med) {
    text-align: center;
    background: none;
  }
}

.smart-nav--logo {
  margin: 5px 10px;
  @include icon-url("wspLogo", 125px, 60px);

  @media screen and (max-width: $break-med) {
    width: 70px;
    height: 35px;
  }
}

.smart-nav--list {
  @media screen and (max-width: $break-med) {
    margin: 10px;
  }
}

.smart-nav--userTime {
  padding: 10px;

  @media screen and (max-width: $break-med) {
    display: none;
  }
}